<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器发生错误</title>
    <link rel="stylesheet" href="server/css/reset.css">
    <style>
        body,html{
            overflow:hidden;
        }
        img{
            width:100%;
        }
    </style>
</head>
<body>
    <img src="/server/img/500.jpeg"></img>
</body>
</html>
