<div class="listCon">
    <nav class="leftMenu">
        <a href="#">{{listTitle}}</a>
        <a href="/detail?path=栏目分类/公司简介/main">公司简介</a>
        <a href="/list?path=栏目分类/产品中心&page=1">产品中心</a>
        <a href="/list?path=栏目分类/项目案例&page=1">项目案例</a>
        <a href="/leaveMsg">在线留言</a>
        <a href="/detail?path=栏目分类/联系我们&page=1">联系我们</a>
    </nav>
    <div>
        <ul class="navCrum">
            <li><a href="/">首页</a></li>
            <li>在线留言</li>
        </ul>
        <p class="line"></p>
        <div class="leaveMsg">
            <form>
                <label>姓名</label>
                <input type="text">
                <label>电话</label>
                <input type="text">
                <label>邮箱</label>
                <input type="text">
                <label>内容</label>
                <textarea></textarea>
                <button type="submit">提交</button>
            </form>
            <div class="contentUs">
                <h1>THANKS</h1>  
                <p>
                    如果您对我们有什么建议、投诉、需求，<br/>
                    可以通过留言告诉我们，我们会在第一时间了解并</br>
                    及时与您联系。
                </p>
                <a href="/detail?path=栏目分类/联系我们&page=1">联系我们</a>
            </div>
        </div>
    </div>
</div>
